<a href="https://colab.research.google.com/github/ALaksfoss/excel-to-python-ds-apply-000/blob/master/Live_Foundational_Python_Data_Science_2019_09_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Foundational Python For Data Science

## Introduction to Colab and Python Fundamentals

### Introduction to Google Colab
- iPython 2006
- A [jupyter](https://jupyter.org/) notebook managed environment
- An executable document 
- Composed of cells
- Cells can contain text, code, and images
- Connected to a runtime: code can be run with no setup
- Code snippets 
- Many existing collections exist around the web

#### Create a Colab Document
https://colab.research.google.com

#### Code Cells

#### Text Cells
- Use [Colaboratory Markup](https://colab.research.google.com/notebooks/markdown_guide.ipynb) 
Language
- Use text cells to document and explain code

#### Snippets

In [0]:
# load an example dataset
from vega_datasets import data
cars = data.cars()

# plot the dataset, referencing dataframe column names
import altair as alt
alt.Chart(cars).mark_point().encode(
  x='Horsepower',
  y='Miles_per_Gallon',
  color='Origin'
).interactive()

alt.Chart(...)

#### Files

#### Manage Colab Documents
- Stored in Google Drive
- Can Share like any Google Document
- Can export as GitHub Gist or store in GitHub
- Can export as jupyter notebook
- There are many interesting collections shared around the web
https://research.google.com/seedbank/

#### System aliases
- prepend with '!'
- Output can be captured to a variable

In [0]:
var = !ls sample_data
print(var)

['anscombe.json\t\t      mnist_test.csv', 'california_housing_test.csv   mnist_train_small.csv', 'california_housing_train.csv  README.md']

#### Magic Functions
- Functions which change the way cells run
- https://nbviewer.jupyter.org/github/ipython/ipython/blob/1.x/examples/notebooks/Cell%20Magics.ipynb

In [0]:
import time
%timeit(time.sleep(1))

1 loop, best of 3: 1 s per loop

In [0]:
%%html
<marquee style='width: 30%; color: blue;'><b>Whee!</b></marquee>

### Fundamentals of Python

#### Statements (Procedural Programming)

In [0]:
print('Hello')

Hello

In [0]:
actions = ['sailed', 'sank']
ship = "The ship"
f"{ship} {actions.pop(0)}"

'The ship sailed'

#### Print

In [0]:
'hello'

'hello'

In [0]:
print("Hello")

Hello

In [0]:
print(23)

23

In [0]:
print(print)

<built-in function print>

In [0]:
print("Hello", "World", sep="->")

Hello->World

#### Variables and Built-in Types
- A variable is a named pointer to data
- The type function displays the 'type' of an object

In [0]:
var = "Hello"

In [0]:
var

In [0]:
var = 2
var

In [0]:
var += 3
var

In [0]:
a, b = 'a', 'b'
a

In [0]:
b

In [0]:
a, b = b, a
a

In [0]:
b

In [0]:
a == 'b'

In [0]:
b = 'b'
a == b

In [0]:
type(a)

In [0]:
type(1)

In [0]:
type(1.4)

In [0]:
type(print)

In [0]:
f = 100.55
type(f)

In [0]:
i = int(f)
type(i)

In [0]:
s = str(f)
type(s)

#### import
- python code is organized in modules
- to access the code of another module, import it
- modules are published as packages
- There are many packages in the [Python Standard Library](https://docs.python.org/3/library/)
- There are a substantial number of third-party packages available, most published at [pypi](https://pypi.org/)

In [0]:
os

In [0]:
import os
os

In [0]:
os.environ

#### Basic math
Python is your calculator

In [0]:
(1 + 1) - 2

In [0]:
4 * 5

In [0]:
8/5

In [0]:
type(1)

In [0]:
8//5

In [0]:
8%5

In [0]:
a = 3
2**(5 - a)

In [0]:
a = 23.738574975938477293
a

In [0]:
round(a, 3)

#### math module

In [0]:
import math

In [0]:
math.pi

In [0]:
math.e

In [0]:
math.ceil(2.34)

In [0]:
math.log(64,2)

In [0]:
int(math.sqrt(9))

#### Dot Notation
- Used to access data and methods of objects and modules
- Use Tab for documentation

In [0]:
s = 2.2

In [0]:
s.is_integer()

In [0]:
print ("hello")

#### Try It Yourself



1.   Go to Colab: https://colab.research.google.com/
2.   Select 'New Python 3 Notebook'
1.   Click **`+ Text`** to add a Text Cell
2.   Type '#Foundational Python for Data Science' in the cell.
1.   Click **`+ Code`** to add a code cell.
1.   Add the following code:
```
a = 1
b = 2*a
print(b)
```
1.   Press Control-Enter to run it.

## Data Structures and Execution Control
Data structues - a organized way of storing and grouping data

### Sequences
- A family of built-in types representing finite and ordered collections of items
- list, tuple, range, string, and binary

#### Shared Operations
https://docs.python.org/3/library/stdtypes.html#typesseq-common

In [0]:
9 in [1, 2, 3, 4, 5]

In [0]:
'a' not in 'Character'

In [0]:
10  in range(10, 20)

In [0]:
name = "Ignatius"

In [0]:
name[0]

In [0]:
name[4]

In [0]:
name[-1]

In [0]:
name[-2]

In [0]:
name[2:5]

In [0]:
name[:5]

In [0]:
name[4:]

In [0]:
name[-3:]

In [0]:
scores = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [0]:
scores[3:15]

In [0]:
scores[3:15:3]

In [0]:
min(scores)

In [0]:
max(name)

In [0]:
name.count('a')

In [0]:
len(name)

In [0]:
name.index('u')

In [0]:
name[:name.index('u')]

In [0]:
len(name)

In [0]:
"prefix" + "-" + "postfix"

In [0]:
[0] * 12

#### Lists and Tuples
- Ordered collections of items of any type
- lists are mutable
- tuples are immutable

##### Creation

In [0]:
some_list = [1]
some_list

In [0]:
empty_tuple = ()
empty_tuple

In [0]:
tup = 1,2,
type(tup)

In [0]:
up_to_twenty = list(name)
up_to_twenty

In [0]:
[0] * 10

##### Adding to and removing from a list

In [0]:
flavours = ['Chocolate', 'Vanilla']
flavours

In [0]:
flavours.append('SuperFudgeNutPretzelTwist')
flavours

In [0]:
flavours.insert(3,"sourMash")
flavours

In [0]:
flavours.pop(0)

In [0]:
flavours

In [0]:
desserts = [ 'Cookies', 'Water Melon']
desserts

In [0]:
desserts.extend(flavours)
desserts

##### Unpacking

In [0]:
a, b, c = (1,3,4)

In [0]:
a

In [0]:
b

In [0]:
c

In [0]:
*first, middle, last = ['horse', 'carrot', 'swan', 'burrito', 'fly']

In [0]:
first

In [0]:
last

In [0]:
middle

In [0]:
my_list = list(name)
my_list

In [0]:
my_list.sort()

In [0]:
my_list

In [0]:
my_list.reverse()
my_list

#### Strings

##### Single quotes

In [0]:
'Here is a string'

##### Double quotes

In [0]:
"Here is a string" == 'Here is a string'

##### Triple Strings

In [0]:
a_very_large_phrase = """
Wikipedia is hosted by the Wikimedia Foundation, 
a non-profit organization that also hosts a range of other projects.
"""

a_very_large_phrase

##### Raw Strings

In [0]:
windows_path = "c:\row\the\boat\now"
print(windows_path)

In [0]:
windows_path = r"c:\row\the\boat\now"
print(windows_path)

##### Case Manipulation

In [0]:
captain = "Patrick Tayluer"

captain

In [0]:
captain.capitalize()

In [0]:
captain.lower()

In [0]:
captain.upper()

In [0]:
captain.swapcase()

In [0]:
captain = 'patrick tayluer'
captain.title()

##### Interrogation

In [0]:
river = 'Mississippi'

In [0]:
len(river)

In [0]:
river.count('s')

In [0]:
river.index('pp')

In [0]:
river.index('r')

In [0]:
river.find('s')

In [0]:
river.startswith('M')

In [0]:
river.endswith('i')

In [0]:
'sip' in river

##### Content Type

In [0]:
'abc123'.isalpha()

In [0]:
'abc123'.isalnum()

In [0]:
'lowercase'.islower()

In [0]:
'lowercase'.isupper()

In [0]:
'The Good Ship'.istitle()

In [0]:
'The bad seed'.istitle()

#### Format strings
F-strings where introduced in Python 3.6. They prefixed by either a 'F' or 'f' before the beginning quotation mark. Values can be inserted into F-strings at runtime using replacement fields which are deliminated by curly braces.

##### Insert variable into replacement field

In [0]:
strings_count = 5
frets_count = 24
f"Noam Pikelny's banjo has {strings_count} strings and {frets_count} frets"

##### Insert expression into replacement field

In [0]:
a = 12
b = 32
f"{a} times {b} equals {a*b}"

##### Index list in string replacement fields

In [0]:
players = ["Tony Trischka", "Bill Evans", "Alan Munde"]
f"Performances will be held by {players[1]}, {players[0]}, and {players[2]}"

##### Conversion flags
A conversion flag can be specified to convert the type of the value before formatting. The three available flags are 's', 'r' and 'a'.

##### Using str conversion

In [0]:
nuts = [1,2,3,4,5]
f"Calling str() on a the list {nuts} produces {nuts!s}"

##### Using repr conversiont

In [0]:
nut = 'pistacio'
f"Calling repr on the string {nut} results in {nut!r}"

##### Using ascii conversion

In [0]:
check = ""
f"The ascii version of {check} is {check!a}"

##### Padding a number

In [0]:
lucky_num = 13
f"To pad the number {lucky_num} to 5 places:{lucky_num:5d}"

##### Setting padding value at runtime

In [0]:
luckey_num = 13
padding = 5
f"To pad the number {lucky_num} to {padding} places:{lucky_num:{padding}d}"

####  Manipulate strings

##### Concatenation

In [0]:
"Bob" + "beroo"

In [0]:
"AB" * 8

##### Removing Whitespace

In [0]:
ship = " The Yankee Clipper "
ship

In [0]:
ship.strip()

In [0]:
ship.lstrip()

In [0]:
ship.rstrip()

##### Add padding

In [0]:
port = "Boston"

In [0]:
port.center(12, '*')

In [0]:
port.ljust(12, '*')

In [0]:
port.rjust(12, '*')

In [0]:
for port_city in ['Liverpool', 'Boston', 'New York', 'Philadelphia']:
  print(port_city.rjust(12))

In [0]:
'-5'.zfill(4)

In [0]:
"FILADELFIA".replace("F", "PH")

##### Spitting and Joining

In [0]:
words_string = "Here,Are,Some,Words"
words_string

##### Split on comma

In [0]:
words = words_string.split(',')
words

##### Joining

In [0]:
':'.join(words)

##### Split on newline

In [0]:
multiline = "Sometimes we are given\na multiline document\nas a single string"
multiline

In [0]:
multiline.splitlines()

In [0]:
for line in multiline.splitlines():
  print(line)

In [0]:
collector = "William Main Doerflinger"
collector[0]

In [0]:
collector[-1]

In [0]:
collector[13:18]

In [0]:
collector[-7:]

#### range

In [0]:
range(10)

In [0]:
range(1, 10)

In [0]:
list(range(0,10,2))

In [0]:
list(range(10, 0, -2))

#### Try it Yourself

1.  Click + Code to add a code cell
1.  Between each instruction press shift-enter to see the results and add a new code cell
1.  Make a list
```
scores = [ 12, 34, 10, 48, 36 ]
scores
```
1.  Sort the list
```
scores.sort() 
scores
```
1.  Print the first, middle and last values
```
print(scores[0])
print(scores[2]) 
print(scores[-1])
```

### Other Data structures

#### Dictionaries
Dictionaries are mappings of key value pairs.

In [0]:
dictionary = {}
dictionary

##### Create a dictionary based on key/value pairs

In [0]:
key_values = [['key-1','value-1'], ['key-2', 'value-2']]
dictionary = dict(key_values)
dictionary

##### Create an empty dict using curley braces

In [0]:
dictionary = {}
dictionary

##### Use curley braces to create a dictionary with initial key/values

In [0]:
dictionary = {'key-1': 'value-1',
              'key-2': 'value-2'}

dictionary

##### Access value using key

In [0]:
dictionary['key-1']

##### Add a key/value pair to an existing dictionary

In [0]:
dictionary['key-3'] = 'value-3'

dictionary

##### Update value for existing key

In [0]:
dictionary['key-2'] = 'new-value-2'
dictionary['key-2']

##### Get keys

In [0]:
list(dictionary.keys())

##### Get values

In [0]:
dictionary.values()

##### Get iterable keys and items

In [0]:
dictionary.items()

##### Use items in for loop

In [0]:
for key, value in dictionary.items():
  print(f"{key}: {value}")

##### Check if dictionary has key
The 'in' syntax we used with sequences checks the dicts keys for membership.

In [0]:
'key-5' in dictionary

##### Get method

In [0]:
dictionary.get("bad key", "default value")

##### Remove item

In [0]:
del(dictionary['key-1'])
dictionary

##### List as key
Lists are mutable and not hashable

In [0]:
items = ['item-1', 'item-2', 'item-3']

map = {}

map[items] = "some-value"

##### Tuple as a key
Tuples are immutable and hence hashable

In [0]:
items = 'item-1', 'item-2', 'item-3'
map = {}
map[items] = "some-value"

map

#### Sets

In [0]:
letters = 'a', 'a', 'a', 'b', 'c'
unique_letters = set(letters)
unique_letters

##### Create set from a string

In [0]:
unique_chars = set('mississippi')
unique_chars

##### Create set using curley braces

In [0]:
unique_num = {1, 1, 2, 3, 4, 5, 5}
unique_num

##### Adding to a set

In [0]:
unique_num.add(6)
unique_num

##### Popping from a set
Pop method removes and returns a random element of the set

In [0]:
unique_num.pop()

##### Indexing
Sets have no order, and hence cannot be accessed via indexing

In [0]:
unique_num[4]

##### Checking membership

In [0]:
3 in unique_num

##### Set operations

In [0]:
s1 = { 1 ,2 ,3 ,4, 5, 6, 7}
s2 = { 0, 2, 4, 6, 8 }

###### Items in first set, but not in the second

In [0]:
s1 - s2

###### Items in either or both sets

In [0]:
s1 | s2

###### Items in both sets

In [0]:
s1 & s2

###### Items in either set, but not both

In [0]:
s1 ^ s2

### Execution Control
- Code block: group of statements to execute together
- Control and repeat execution of a block of code

#### For Loops

In [0]:
for i in range(6):
  j = i + 1
  print(j)

In [0]:
colors = ["Green", "Red", "Blue"]
for color in colors:
  print(f"My favorite color is {color}")
  print("No, wait...")

#### While Loops

In [0]:
counter = 0
while counter < 5:
  print(f"I've counted {counter} so far, I hope there aren't more")
  counter += 1

#### If Statements

In [0]:
snack = 'cigar'
fruit = {'orange', 'apple', 'pear'}

if snack in fruit:
  print(f"Yeah, {snack} is good!")

In [0]:
fish = ['mackerel', 'salmon', 'pike']
beasts = ['salmon', 'pike', 'bear', 'mackerel']
i = 0

while True:
  beast = beasts[i] 
  if beast not in fish:
    print(f"Oh no! It's not a fish, it's a {beast}")
    break
  print(f"I caught a {beast} with my fishing net")
  i += 1

In [0]:
for name in ['bob', 'billy', 'bonzo', 'fred', 'baxter']:
  if not name.startswith('b'):
    continue
  print(f"Fine fellow that {name}")

### Functions

#### Write and use Functions

In [0]:
def docstring():
  """Triple Quoted documentation!"""

In [0]:
docstring?

#### Arguments:  Keyword and Positional

* *Positional*:  Order based processing
* *Keyword*:  Key/Value processing

##### Positional

In [0]:
def positional(first,second,third):
  """Processes arguments to function in order"""
  
  print(f"Processed first {first}")
  print(f"Processed second {second}")
  print(f"Processed third {third}")

In [0]:
positional(1, 2, 3)

In [0]:
positional(2, 3)

##### Keyword

In [0]:
def keyword(first=1, second=2, third=3):
  """Processed in any order"""
  
  print(f"Processed first {first}")
  print(f"Processed second {second}")
  print(f"Processed third {third}")

In [0]:
keyword(1,2,3)

In [0]:
keyword(second=2, third=3, first=1)

In [0]:
keyword(second='333')

#### Return

Default is None

In [0]:
def bridge_to_nowhere():pass

In [0]:
bridge_to_nowhere() == None

In [0]:
type(bridge_to_nowhere())

Most useful functions return something

In [0]:
def more_than_zero():
  
  return 1

In [0]:
more_than_zero() == 1

Functions can return functions

In [0]:
def inner_peace():
  """A deep function"""
  
  def peace():
    return "piece"
  
  return peace

In [0]:
inner = inner_peace()
print(f"Hey, I need that {inner()}")

In [0]:
inner2 = inner_peace()

In [0]:
type(inner2)

#### Lambdas

In [0]:
foo = lambda x: x + 2

In [0]:
foo(3)

In [0]:
evens = (x*2 for x in range(5000000))
three_factors = (x//3 for x in evens if x%3 == 0)
titles = (f"this number is {x}" for x in three_factors)
capped = (x.title() for x in titles)

print(f"The first call to capped: {next(capped)}")
print(f"The second call to capped: {next(capped)}")
print(f"The third call to capped: {next(capped)}")

## Overview of major Data Science libraries

### Numpy

Numpy is an opened source numerical computing libary for python. The numpy array is a datastructure representing multidimension arrays which is optimized for both memory and performance.

#### Create a numpy array from a list of lists

In [0]:
import numpy as np
list_of_lists = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

np_array = np.array(list_of_lists)

np_array

#### Initialize an array of zeros

In [0]:
zeros_array = np.zeros( (4, 5) )
zeros_array

#### Initialize and array of ones

In [0]:
ones_array = np.ones( (6, 6) )
ones_array

#### Using arrange

In [0]:
nine = np.arange( 9 )
nine

#### Using reshape

In [0]:
nine.reshape(3,3)

#### Introspection

##### Get the data type

In [0]:
np_array.dtype

##### Get the array's shape

In [0]:
np_array.shape

##### Get the number of items in the array

In [0]:
np_array.size

##### Get the size of the array in bytes

In [0]:
np_array.nbytes

#### Setting the data type

In [0]:
np_array = np.array(list_of_lists, dtype=np.int8)
np_array

##### Size reduction

In [0]:
np_array.nbytes

##### The data type setting is immutible 
Data may be truncated if the data type is restrictive.

In [0]:
np_array[0][0] = 1.7344567
np_array[0][0]

#### Array Slicing


*   Slicing can be used to get a view reprsenting a sub-array. 
*   The slice is a view to the original array, the data is not copied to a new data structure
*   The slice is taken in the form: array[ rows, columns ]

In [0]:
np_array

In [0]:
np_array[2:, :3]

#### Math operations


*   Unlike a unlike nested lists, matrix operations perform mathimatical operations on data

##### Create two 3 x 3 arrays

In [0]:
np_array_1 = np.arange(9).reshape(3,3)
np_array_1

In [0]:
np_array_2 = np.arange(10, 19).reshape(3,3)
np_array_2

##### Multiply the arrays

In [0]:
np_array_1 * np_array_2

##### Add the arrays

In [0]:
np_array_1 + np_array_2

#### Matrix operations

##### Transpose

In [0]:
np_array.T

##### Dot product

In [0]:
np_array_1.dot(np_array_2)

### Pandas

#### Pandas DataFrame
*   One of the most highly leveraged data structures for data science
*   A table-like two dimensional data structure.

In [0]:
import pandas as pd
first_names = ['henry', 'rolly', 'molly', 'frank', 'david', 'steven', 'gwen', 'arthur']
last_names = ['smith', 'brocker', 'stein', 'bach', 'spencer', 'de wilde', 'mason', 'davis']
ages = [43, 23, 78, 56, 26, 14, 46, 92]

df = pd.DataFrame({ 'first': first_names, 'last': last_names, 'age': ages})
df

##### Head - looking at the top

In [0]:
df.head()

##### Setting number of rows returned with head

In [0]:
df.head(3)

##### Tail - looking at the bottom

In [0]:
df.tail()

##### Describe - descriptive statistics

In [0]:
df.describe()

##### Access one column

In [0]:
df['first']

##### Slice a column

In [0]:
df['first'][4:]

In [0]:
df['age'] > 50

##### Use conditions to filter

In [0]:
df[df['age'] > 50]

### Interactive Display

In [0]:
#@ Colab DataFrame interactive display
%load_ext google.colab.data_table

In [0]:
df

#### Pandas Series


*   A one dimensional labeled array
*   Contains data of only one type
*   Similar to a column in a spreedsheet

In [0]:
pd_series = pd.Series( [1, 2, 3 ] )
pd_series

##### Series introspection methods

In [0]:
f"This series is made up of {pd_series.size} items whose data type is {pd_series.dtype}"

##### A Pandas DataFrame is composed of Pandas Series.

In [0]:
age = df.age
type( age )

##### Some useful helper methods of a Series

In [0]:
pd_series = pd.Series([ 1, 2, 3, 5, 6, 6, 6, 7, 8])
pd_series.mean()

In [0]:
pd_series.unique()

In [0]:
pd_series.min()

#### Applying a Function to a Pandas DataFrame

In [0]:
%load_ext google.colab.data_table
import pandas as pd
# Load from CSV file
df = pd.read_csv('sample_data/california_housing_train.csv')
# Look at top ten rows
df.head()

In [0]:
# Remove some columns
df.drop(columns=['housing_median_age', 'total_rooms','total_bedrooms', 'median_income'], inplace=True)
df.head()

In [0]:
# Get summary Stats
df.describe()

In [0]:
# Label Median House Price
def label_price(house_price):
    if house_price < 119400:
        return 'inexpensive'
    elif house_price < 180400:
        return 'moderately inexpensive'
    elif house_price < 265000:
        return 'moderately expensive'
    else:
        return 'expensive'

df['median_house_price'] = df['median_house_value'].apply(label_price)
df

In [0]:
# Calculate Average Residents Per Household
def calc_ave_residents(row):
    return row['population']/row['households']

df['ave_residents'] = df.apply(calc_ave_residents, axis=1)
df

### Matplotlib

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_json('/content/sample_data/anscombe.json')
df

In [0]:
# Get DataFrame per series
one = df[df['Series'] == 'I']
two = df[df['Series'] == 'II']
three = df[df['Series'] == 'III']

In [0]:
one.describe()

In [0]:

two.describe()

In [0]:

three.describe()

In [0]:
# Plot data
fig, ax = plt.subplots()
ax.plot(one['X'].values, one['Y'].values, 'ro')
ax.plot(two['X'].values, two['Y'].values,'bo')
ax.plot(three['X'].values, three['Y'].values,'yo')
ax.set(xlabel='X', ylabel='Y',
       title='Plotting Anscombe')
ax.grid()

fig.savefig("anscombe.png")
plt.show()

### Seaborn

#### lmplot

In [0]:
import seaborn as sns
sns.set(style="ticks")

# Load the example dataset for Anscombe's quartet
df = pd.read_json('/content/sample_data/anscombe.json')

# Show the results of a linear regression within each dataset
sns.lmplot(x="X", y="Y", col="Series", hue="Series", data=df,
           col_wrap=2, ci=None, palette="muted", height=4,
           scatter_kws={"s": 50, "alpha": 1})

In [0]:
import seaborn as sns
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.drop(columns=['longitude', 'latitude', 'housing_median_age', 'median_income'], inplace=True)

#### Pairplot

In [0]:

sns.pairplot(df)

#### heatmap

In [0]:
sns.heatmap(df.corr())

### Plotly

In [0]:
import pandas as pd
import plotly.express as px

df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.drop(columns=['longitude', 'latitude', 'housing_median_age', 'median_income'], inplace=True)

fig = px.scatter(df, x='total_rooms', y='population',size='median_house_value', color='households')
fig.show()

### Other Important Libraries
- **Tensorflow** Open source library for Machine Learning
- **Scipy** Library for Scienticfic computing
- **Sklearn**  Free Machine Learning Library

## Functional programming and generators

### Functional Programming

#### Depending on state

In [0]:
wind = 'Southeast'

def describe_the_wind():
  return f'The wind blows from the {wind}'

describe_the_wind()

In [0]:
wind = 'North'
describe_the_wind()

#### Functional approach

In [0]:
def describe_the_wind(wind):
  return f'The wind blows from the {wind}'

describe_the_wind('Northeast')

#### Changing state

In [0]:
WINDS = ['Northeast', 'Northwest', 'Southeast', 'Southwest']
WIND = WINDS[0]

def change_wind():
  global WIND
  WIND = WINDS[(WINDS.index(WIND) + 1)%3]
  
WIND

In [0]:
change_wind()
WIND

In [0]:
for _ in WINDS:
  print(WIND)
  change_wind()

#### Functional approach

In [0]:
def change_wind(wind_index):
  winds = ['Northeast', 'Northwest', 'Southeast', 'Southwest']
  return winds[wind_index]

print( change_wind(0) )
print( change_wind(1) )
print( change_wind(2) )
print( change_wind(3) )

#### Changing state

In [0]:
def change_mutable_data(data):
  '''A function which changes
  mutable data.'''
  data['owner'] = 'White Star Line'

  
d = {"vehicle": "ship", "owner": "Joseph Bruce Ismay"}

change_mutable_data(d)
d

#### Functional approach

In [0]:
d = {"vehicle": "ship", "owner": "Joseph Bruce Ismay"}

def change_owner(data):
  new_data = data.copy()
  new_data['owner'] = 'White Star Line'
  return new_data


changed = change_owner(d)
changed

#### map

In [0]:
def count_flower_petals(d):
  return d

counts = map(count_flower_petals, [0,1,2,3,4,5])


type(counts)

In [0]:
type(map)

#### mapping with multiple inputs

In [0]:
l1 = [0,1,2,3,4]
l2 = [10,9,8,7,6]

def multi(d1, d2):
  return d1 * d2

result = map(multi, l1, l2)
print( list(result) )

#### reduce

In [0]:
initial_balance = 10000
debits = [20, 40, 300, 3000, 1, 234]


balance = initial_balance

for debit in debits:
  balance -= debit
  
balance

In [0]:
inital_balance = 10000
debits = [20, 40, 300, 3000, 1, 234]
from functools import reduce

def minus(a, b):
  return a - b

balance = reduce(minus, debits, initial_balance)
balance

In [0]:
inital_balance = 10000
debits = [20, 40, 300, 3000, 1, 234]

from functools import reduce
import operator

print( reduce(operator.sub, debits, initial_balance) )

#### filter

In [0]:
characters = ['C', 'b', 'c', 'A', 'b','P', 'g', 'S']

def cap(a):
  return a.isupper()

retval = filter(cap, characters)

list(retval)

In [0]:
nums = list(range(10))

list(filter(lambda x: x > 3, nums))

#### list comprehensions

In [0]:
names = ['tim', 'tiger', 'tabassum', 'theodora', 'tanya']

capd = []

for name in names:
  capd.append(name.title())
  
capd

##### Basic list comprehension

In [0]:
names = ['tim', 'tiger', 'tabassum', 'theodora', 'tanya']

capd = [x.title() for x in names]

capd

##### map example

In [0]:
def count_flower_petals(d):
  return f"{d} petals counted so far"

counts = map(count_flower_petals, [0,1,2,3,4,5])

list(counts)

##### mapping using list comprehension

In [0]:
[f"{x} petals counted so far" for x in [0,1,2,3,4,5]]

##### filter function

In [0]:
characters = ['C', 'b', 'c', 'A', 'b','P', 'g', 'S']

def cap(a):
  return a.isupper()

retval = filter(cap, characters)

list(retval)

##### filtering in list comprehension

In [0]:
characters = ['C', 'b', 'c', 'A', 'b','P', 'g', 'S']

[x for x in characters if x.isupper()]

##### Multiple variables

In [0]:
#@title
horts = [ 32.0, 54.12, 12.4, 89.09]
verts = [ 15.9, -34.21, 45.54, 90]

[ f'x: {x} y: {y}' for x,y in zip(horts, verts) ]

In [0]:
list(zip(horts, verts))

##### Flatten a list of lists

In [0]:
list_of_lists = [[1,2,3], [4,5,6], [7,8,9]]


[x for y in list_of_lists for x in y]

##### Nested

In [0]:
# Integers greater than and with 3 as a factor divided by 2


[y for y in range(20)]

In [0]:
[y for y in range(20) if y%3==0]

In [0]:
[x//2 for x in [y for y in range(20) if y%3==0] if x > 3]

#### Dict comprehensions

In [0]:
rows = [{'name': 'barry', 'id': 1},
        {'name': 'henry', 'id': 3},
        {'name': 'suzy', 'id': 2}]

{ x['name']: x['id'] for x in rows}

### Generators

#### comprehensions

In [0]:
l_ten = [x for x in range(10)]
g_ten = (x for x in range(10))

print(f"l_ten is a {type(l_ten)} and prints as: {l_ten}")
print(f"g_ten is a {type(g_ten)} and prints as: {g_ten}")

#### Next

In [0]:
next(g_ten)

#### Iteration

In [0]:
for x in g_ten:
  print(x)

#### Indexing

In [0]:

g_ten[3]

#### Size

In [0]:
import sys
x = 100000000
l_big = [x for x in range(x)]
g_big = (x for x in range(x))

print( f"l_big is {sys.getsizeof(l_big)} bytes")
print( f"g_big is {sys.getsizeof(g_big)} bytes")

#### yield statements

##### Generator functions

In [0]:
def square_them(numbers):
  for number in numbers:
    yield number * number
    
  
s = square_them(range(10000))

print(next(s))
print(next(s))
print(next(s))
print(next(s))

##### Infinite generators

In [0]:
def counter(d):
  
  while True:
    d += 1
    yield d

In [0]:
c = counter(10)

print(next(c))
print(next(c))
print(next(c))

## Setup Tasks

#### Install Latest Plotly

In [0]:
!pip uninstall plotly
!pip install plotly

In [0]:
import plotly
plotly.__version__